# DIRS
STATE_DIR="${SCRIPT_PARENT}/state"

# JOURNAL
# Priority levels: 3 (err), 2 (crit), 1 (alert), 0 (emerg)
JOURNAL_PRIORITY=3

# You can use plain text or Regex patterns here:
IGNORE_MESSAGES=(
    "watchdog did not stop!"
)

# ALERT
ALERT_MAIL=1

# MAIL
MAIL_TO=""
MAIL_SUBJECT="[$(hostname)] [${APP_NAME}]"

# LOG
LOG_FILE=""
LOG_TO_FILE=0
LOG_TO_CONSOLE=1
LOG_LVL=5
LOG_TO_CONSOLE_WITH_LVL=1